.home {
  display: flex;
  text-align: center;
  justify-content: center;
  width: 99vw;
  height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  object-fit: fill;
    background-image: url(./../../assets/wp6717630.webp); 

}

@media screen and (max-width: 768px) {
  .home {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
  
}
